.PostsViewSidebar{
  position: sticky;
  height: 0;
  overflow: visible;
  top: 0;
  width: 15rem;
}
.PostsViewContainer {
  width: min-content;
  padding-inline: 2rem;
  padding-block: 1rem;
}
.PostsViewMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 15rem;
  width: min-content;
}
.guildPosts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
