<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up</title>
	</head>
	<body>
		<input type="text" id="username" /><br />
		<input type="password" id="password" />
		<button id="send">login</button>
		<script src="/public/signUp.js"></script>
	</body>
</html>
