@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --bg: #000;
  --accent-transparent: rgba(177,124,157,0.2);
  --text: #f4ecf1;
  --primary: #a76c92;
  --secondary: #100a0e;
  --accent: #b17c9d;
  --error:	#ff5c93;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}
h1 {
  font-weight: 900;
}
h1, p {
  width: fit-content;
}
p {
  line-height: 1.5;
}
html {
  background: var(--bg);
  color: var(--text);
  height: 100%;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
input[type=text],
input[type=password] {
  background: var(--bg);
  font-family: inherit;
  border: 1px solid var(--accent);
  font-size: inherit;
  border-radius: 5px;
  color: var(--text);
  padding: 5px;
  outline: 0;
  transition: box-shadow 250ms;
}

input[type=text]:focus,
input[type=password]:focus {
  box-shadow: 2px 0px 5px var(--accent);
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  outline-color: 0;
}

.primary-btn {
  color: var(--bg);
  background: var(--primary);
  border: 1px solid var(--accent);
  transition: background 250ms;
}
.primary-btn:hover {
  background: var(--accent);
}
.loginContainer {
  min-height: calc(100vh - 3rem);
  min-height: calc(100svh - 3rem);
  display: grid;
  place-items: center;
}

.loginWrapper {
  min-height: 50vh;
  width: 50vw;
  display: grid;
  place-items: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  gap: 0.5rem;
}
.loginForm button {
  padding: 5px;
}
.root {
  position: relative;
}
