.card {
  background: var(--accent-transparent);
  border-radius: 15px;
  width: 35vw;
  border: 1px solid var(--accent);
}
.cardTopInfo {
  font-size: 0.7rem;
}
.cardUpDownButtons {
  background-color: var(--accent-transparent);
  border-top: 1px solid var(--accent);
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  padding-left: 2rem;
  height: 2rem;
}
.cardTextContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.clicked {
  color: red !important;
}
